html, body {
  margin: 0;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.square {
  width: 350px;
  height: 300px;
  margin: 0 auto;
  margin-top: 8%;
  border: solid 10px white;
}